<div>
    <div class='col-8-auto py-2 ttg-navbar .bg-primary.bg-gradient'>
        <nav class='navbar navbar-expand navbar-light'>
            <div class='navbar-nav'>
                <div class='nav-item px-1 ms-sm-1' id='{{CloseBtnID}}'>
                    <button type='button' class='btn btn-danger btn-sm p-2 border-right-5' (click)='Close($event)'>
                        <i class='bi bi-x-circle '></i>
                        <span> Fechar </span>
                    </button>
                </div>
                <div class='nav-item px-1' id='{{NewBtnID}}'>
                    <button type='button' class='btn btn-success btn-sm p-2 border-right-5' (click)='New($event)'>
                        <i class='bi bi-person-plus'></i>
                        <span> Novo </span>
                    </button>
                </div>
                <div class='nav-item px-1 navbar-toggler' id='{{PreviewBtnID}}'>
                    <button type='button' class='btn btn-primary btn-sm p-2 border-right-5' (click)='Preview($event)'>
                        <i class='bi  bi-eye'></i>
                        <span> Vizualizar </span>
                    </button>
                </div>
                <div class='nav-item px-1 navbar-toggler' id='{{EditBtnID}}'>
                    <button type='button' class='btn btn-primary btn-sm p-2 border-right-5' (click)='Edit($event)'>
                        <i class='bi bi-pencil'></i>
                        <span> Editar </span>
                    </button>
                </div>
                <div class='nav-item px-1 navbar-toggler' id='{{SaveBtnID}}'>
                    <button type='button' class='btn btn-primary btn-sm p-2 border-right-5' (click)='Save($event)'>
                        <i class='bi bi-check-square'></i>
                        <span> Salvar </span>
                    </button>
                </div>
                <div class='nav-item px-1 navbar-toggler' id='{{DeleteBtnID}}'>
                    <button type='button' class='btn btn-warning btn-sm p-2 border-right-5' (click)='Save($event)'>
                        <i class='bi bi-trash'></i>
                        <span> Deletar </span>
                    </button>
                </div>
                <div class='nav-item px-1 navbar-toggler' id='{{RecycleBtnID}}'>
                    <button type='button' class='btn btn-primary btn-sm p-2 border-right-5' (click)='Save($event)'>
                        <i class='bi bi-arrow-counterclockwise'></i>
                        <span> Recuperar </span>
                    </button>
                </div>
                <div class='nav-item px-1' id='{{SearchBtnID}}'>
                    <button type='button' class='btn btn-primary btn-sm p-2 border-right-5' (click)='Search($event)'>
                        <i class='bi bi-search'></i>
                        <span> Pesquisar </span>
                    </button>
                </div>
            </div>
        </nav>
    </div>
    <div id='{{FormAreaID}}'>
    </div>
    <div class='ttg-line-1'>
    </div>
    <div id='{{SearchAreaID}}'>
        <form class='row g justify-content' (submit)="Search($event)" action="javascript:void(0);">
                <div XSearchEditor class='col-sm-32'  Field='Nome' Title='Nome do Perfil' [Tuple]='Filter'>
                    <label for='ccd8bd5c-0252-45a3-8bee-e21343d3171b' class='form-label text-nowrap'>Nome do Perfil</label>
                    <label class='form-label text-nowrap' style="color:blue;font-size:9px">&nbsp;&nbsp; {{Filter.Column}}</label>
                </div>
        </form>
        <div class='ttg-line-1'>
        </div>
        <XSearchGrid id='SearchGridInstance' Titles='Nome|Nome do Perfil' >
            <table #Body class='w-100'>
                <thead class='ttg-tb-hd t-100'>
                    <tr class='w-100'>
                        <ng-container #Container name='HeadContainer'>
                            <ng-template #Template name='CheckTemplate' let-data='data'>
                                <th class='text-nowrap' scope='col'>
                                    <input type='checkbox' (click)='data.CheckedAll($event, {Body})'>
                                </th>
                            </ng-template>
                        <ng-template #Template name='TitleTemplate' let-data='data'>
                            <th class='text-nowrap' (click)='data.SortGrid($event, (data.Field))' scope='col'>
                                    <i class='bi  pe-none'>
                                    </i>
                                    <span class='pe-none'>
                                        {{data.Title}}
                                    </span>
                                </th>
                            </ng-template>
                        </ng-container>
                    </tr>
                </thead>
                <tbody class='w-100'>
                    <ng-container #Container name='RowContainer'>
                        <ng-template #Template name='RowTemplate' let-data='data'>
                            <tr class='ttg-row t-100' scope='row' [(attr.IsSelected)]='data.IsSelected'>
                            </tr>
                        </ng-template>
                    </ng-container>
                    <ng-template #Template name='ColumnTemplate' let-field='field'>
                        <td>
                            {{field.DisplayText}}
                        </td>
                    </ng-template>
                    <ng-template #Template name='RowCheckTemplate' let-data='data'>
                        <td>
                            <input onclick='event.stopPropagation()' type='checkbox' [(checked)]='data.IsChecked'>
                        </td>
                    </ng-template>
                </tbody>
            </table>
        </XSearchGrid>
    </div>
</div>

