<div>
    <div class='row g justify-content'>
        <div XStringEditor class='col-sm-32'  Field='Nome' Title='Nome do Perfil' [Tuple]='DataSet?.CurrentTuple'>
            <label for='4dd2a909-c89a-4342-a2d8-ad335048cfdb' class='form-label text-nowrap'>Nome do Perfil</label>
        </div>
        <div XDataGridEditor class='col-sm-32'  Field='CORxPerfilID' Title='Perfil'  [Tuple]='DataSet?.CurrentTuple' [DataSet]='DataSet'>
            <label for='6519fc74-9210-4c30-b4c5-7cbbbe7009d7' class='form-label text-nowrap'>Perfil</label>
        </div>
    </div>
</div>

