<div>
    <div class='row g justify-content'>
        <div XStringEditor class='col-sm-13'  Field='Nome' Title='Nome' [Tuple]='DataSet?.CurrentTuple'>
            <label for='18c0f5bc-f431-4c82-9e00-47af374a1193' class='form-label text-nowrap'>Nome</label>
        </div>
        <div XStringEditor class='col-sm-15'  Field='Login' Title='Login' [Tuple]='DataSet?.CurrentTuple'>
            <label for='351967f6-f262-42a1-a6dd-98dc0ab3367d' class='form-label text-nowrap'>Login</label>
        </div>
        <div XStringEditor class='col-sm-4'  Field='CORxEstadoID' Title='Ativo' [Tuple]='DataSet?.CurrentTuple'>
            <label for='d721336f-2a70-41cc-81b9-2400ec529953' class='form-label text-nowrap'>Ativo</label>
        </div>
    </div>
</div>

