<div class="sidebar close">
  <div class="logo-details" #refEl (click)="[DoToogle(refEl)]">
    <i class='bi bi-sunrise'></i>
    <span class="logo_name">Sittax</span>
  </div>
  <ul class="nav-links">
    <li *ngFor="let grp of MenuGroups" id="{{grp.ID}}">
      <div class="iocn-link" #refEl (click)="[DoClick(refEl)]" >
        <a href="#" >
          <i class='{{grp.Icone}}'></i>
          <span class="link_name">{{grp.Modulo}}</span>
        </a>
        <i class='bi bi-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">{{grp.Modulo}}</a></li>
        <li *ngFor="let item of grp.SubMenus">
            <a id="{{item.CORxRecursoID.Value}}" #refEl (click)="[Premiere(refEl)]">{{item.Titulo.Value}}</a>
        </li>
      </ul>
    </li>
    <li>
      <div class="profile-details">
        <div class="profile-content">
          <!-- <img src="image/profile.jpg" alt="profileImg"> -->
        </div>
        <div class="name-job">
          <div class="profile_name">S'chn T'gai Spock🖖</div>
          <div class="job">Full Stack Software Enginer</div>
        </div>
        <i class='bx bx-log-out'></i>
      </div>
    </li>
  </ul>
</div>
