<div>
    <div class='row g justify-content'>
        <div XStringEditor class='col-sm-32'  Field='Enderecos' Title='Endereco' [Tuple]='DataSet?.CurrentTuple'>
            <label for='19b715c4-2926-4778-ad7e-32421b186f4a' class='form-label text-nowrap'>Endereco</label>
        </div>
        <div XStringEditor class='col-sm-32'  Field='Nome' Title='Nome' [Tuple]='DataSet?.CurrentTuple'>
            <label for='5fd18a8f-e9e9-4f66-bbaf-95cd78bd4b79' class='form-label text-nowrap'>Nome</label>
        </div>
    </div>
</div>

