<app-menu></app-menu>
<div XMainTabControl #XMainTabControl class="container-fluid h-100 w-100">
</div>
<div class="modal fade show" id="AppError" tabindex="-1" aria-labelledby="TTLAppError" aria-modal="true" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title" id="TTLAppError">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="MSGAppError">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary bg-danger " data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
